@import '../../../stylesheets/main';

.header {
  background: #fff;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  width: 95%;

  @include respond-to(smartphone) {
    max-width: 100%;
    width: 100%;
    padding: 0 16px;
  }
}

.logo {
  max-width: 180px;

  @include respond-to(smartphone) {
    max-width: 130px;
  }

  img {
    width: 100%;
  }
}

.link {
  position: relative;
  font-size: 16px;
  font-weight: 500;

  &:hover:before {
    width: 100%;
  }

  &:before {
    background: $color-lila;
    bottom: -4px;
    content: '';
    height: 100%;
    left: 4px;
    position: absolute;
    transition: width 0.35s ease-in-out;
    width: 0;
    z-index: -1;
  }

  &:not(:last-child) {
    margin-right: 40px;

    @include respond-to(smartphone) {
      display: none;
    }
  }
}

.linkTel {
  img {
    margin-right: 8px;
    position: relative;
    top: 2px;
    width: 16px;
  }

  &:hover:before {
    @include respond-to(smartphone) {
      width: calc(100% + 2px);
    }
  }

  &:before {
    @include respond-to(smartphone) {
      left: 6px;
      bottom: -2px;
    }
  }
}
