* {
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: #fff7c7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fff7c7; /* Gecko Browsers */
}

body {
  color: #353535;
  line-height: 1.5;
  font-family: $font-sans-serif;
}

.container {
  max-width: 1240px;
  margin: auto;
  width: 92%;

  @media (max-width: $breakpoint-xs) {
    padding: 0 20px;
  }
}
